<!-- Body of planet window popup -->
<div class="pwindow-inner">
    <span><span style="font-size:xx-large;">Maker Portfolio</span>
    <img style="float:right;" height="50px" width="50px" src="src/assets/icons/rpi.png">
    <img style="float:right; padding-left:5px; padding-right:5px;" height="50px" width="30px" src="src/assets/icons/bt.png">
    <img style="float:right;" height="50px" width="50px" src="src/assets/icons/arm.png">
    <img style="float:right;" height="50px" width="50px" src="src/assets/icons/nordic.png">
    <img style="float:right;" height="50px" width="50px" src="src/assets/icons/maxim.png">
    <img style="float:right;" height="50px" width="50px" src="src/assets/icons/espressif.png">
    <br><br>
    <img style="float:right; transform:translateY(5px);" height="40px" width="50px" src="src/assets/icons/st.png">
    <img style="float:right; transform:translateY(17.5px);" height="15px" width="50px" src="src/assets/icons/analog.png">
    <img style="float:right;" height="50px" width="50px" src="src/assets/icons/ti.png">
    <img style="float:right; transform:translateY(15px)" height="20px" width="50px" src="src/assets/icons/zephyr.png">
    <img style="float:right;" height="50px" width="50px" src="src/assets/icons/platformio.svg">
    <img style="float:right;" height="50px" width="50px" src="src/assets/icons/arduino.png">
    </span>
    <br><hr width="50%" style="float:left;">
    <br>
    <br>
    
    <table width="100%">
        <tr>
            <td class="pimg">
                <img width="100vw" style="min-width:380px;" src="src/assets/screenshots/smoothie.png">
            </td>
            <td class="pimg">
                <img width="100vw" style="min-width:380px;" src="src/assets/screenshots/uplot.png">
            </td>
        </tr>
    </table>

    <h2>Hardware Projects:</h2>
    <div style="text-align:center; vertical-align: middle; background-color:white; padding-top:5px; padding-left: 5px; border-radius: 5px;">
        <img height="50px" width="50px" src="src/assets/icons/hosp.png">
        <img height="50px" width="50px" src="src/assets/icons/edu.png">
        <img height="50px" width="50px" src="src/assets/icons/iot.png">
        <img height="50px" width="50px" src="src/assets/icons/rsrch.png">
        <img height="50px" width="50px" src="src/assets/icons/audio.png">
        <img height="50px" width="50px" src="src/assets/icons/network.png">
        <img style="transform:translateY(-10px);" height="30px" width="100px" src="src/assets/icons/adc.png">
        <img height="50px" width="50px" src="src/assets/icons/eeg.png">
        <img height="50px" width="50px" src="src/assets/icons/emg.png">
        <img height="50px" width="50px" src="src/assets/icons/gyro.png">
        <img height="50px" width="50px" src="src/assets/icons/lightsens.png">
        <img height="50px" width="50px" src="src/assets/icons/gauge.png">
        <img height="50px" width="50px" src="src/assets/icons/heart.png">
    </div>
    <br>
    <table  class="ptable">
        <tr class="trr">
            <td class="td1">
                HEGduino V1 and 2
            </td>
            <td width="20%"><a target="_blank" href="https://github.com/moothyknight/HEG_ESP32_Delobotomizer"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/ghub.png"></a>
            </td>
            <td width="40%"  class="tdtext">
                DIY Hemoencephalography, made to bring this obscure form of biofeedback into the maker world. 
                Inspired by Hershel Toomim and Bob Marsh's original patent 5995857. 
                I crowdfunded both versions modestly and have sold somewhere over 500 units total between both versions. It's my first
                real hardware project that I led and built mostly out of my cabin in Alaska with a little help from my friends.<br>
                <a target="_blank" href="https://hegalpha.com/">HEG Alpha Site</a>
            </td>
            <td>
                <img src="src/assets/screenshots/headband.jpg" width="100%">
            </td>
        </tr>
        <tr class="trr">
            <td class="td1">
                nRF52 Biosensing Boards
            </td>
            <td width="20%"><a target="_blank" href="https://github.com/brainsatplay/nrf52-biosensing-boards"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/ghub.png"></a>
            </td>
            <td width="40%"  class="tdtext">
                Ongoing project to utilise Fanstel nRF52 chips and Zephyr RTOS. Our first prototypes work and with Jacob Tinkhauser 
                and Bojan Jovanovich we developed several drivers in Zephyr. Our first prototype did 500sps and 2M BLE PHY in less than 24KB on a BT832A! 
            </td>
            <td>
                <img src="src/assets/screenshots/nrf.png" width="100%">
            </td>
        </tr>
        <tr class="trr">
            <td class="td1">
                MAX86141 Arduino
            </td>
            <td width="20%"><a target="_blank" href="https://github.com/moothyknight/MAX86141_Arduino"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/ghub.png"></a>
            </td>
            <td width="40%"  class="tdtext">
                Arduino driver for the MAX86141
            </td>
            <td>
                <img src="src/assets/screenshots/hegfiltered.png" width="100%">
            </td>
        </tr>
        <tr class="trr">
            <td class="td1">
                ADS131M08 Arduino
            </td>
            <td width="20%"><a target="_blank" href="https://github.com/moothyknight/ads131m08_arduino"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/ghub.png"></a>
            </td>
            <td width="40%"  class="tdtext">
                Arduino driver and breakout board CAD files for the ADS131M08, a 24 bit sigma delta converter. 
                Tested ~350nV noise on my breakout board with an ESP32. Dmitry (FreeEEG32) designed a working 
                low cost 128 channel EEG prototype with this chip, while we based our nRF design with it.
            </td>
            <td>
                <img src="src/assets/screenshots/ads131.png" width="100%">
            </td>
        </tr>
        <tr class="trr">
            <td class="td1">
                FreeEEG32 Crowdfunding
            </td>
            <td width="20%"><a target="_blank" href="https://github.com/moothyknight/HEG_ESP32_Delobotomizer"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/ghub.png"></a>
            </td>
            <td width="40%"  class="tdtext">
                I helped Dmitry Sukhoruchkin and Bernard Markus crowdfund the FreeEEG32, which they developed hardware and custom 3D printed headsets
                for over the past several years. We are dealing with part shortages but otherwise have the lowest cost clinical-grade EEG
                ever made! We've had contacts worldwide with interesting scientists and investors in the space. AGPLv3
            </td>
            <td>
                <img src="src/assets/screenshots/beta-bot.png" width="100%">
            </td>
        </tr>
        <tr class="trr">
            <td class="td1">
                More PCB work
            </td>
            <td width="20%"><a target="_blank" href="https://github.com/moothyknight/"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/ghub.png"></a>
            </td>
            <td width="40%"  class="tdtext">
                I love open source DIY! I've made several HEG prototypes, several ADC breakout boards, high frequency antennas with Eric Nichols, and my favorite WIP project: DIY Diffuse Optical Tomography.
            </td>
            <td>
                <img src="src/assets/screenshots/PCB_Collage.jpg" width="100%">
            </td>
        </tr>
    </table>
    <br><br>
    <div width="100%" class="pimg">
        <img width="100vw" style="min-width:380px;" src="src/assets/millers_maxi_buns/hardwarestack.png">
    </div>

    
    <span style="font-size:xx-large; font-weight:bold;">Other Examples</span>
    <hr/>
    <table  class="ptable">
        <tr class="trr">
            <td class="td1">
                3DS Record Animation
            </td>
            <td width="20%"><a target="_blank" href="https://github.com/moothyknight/3dsrecordanimation"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/ghub.png"></a>
            </td>
            <td width="40%"   class="tdtext">
                Simple Maxscript GUI for extracting and reimporting position and rotation data from 3DS Max
            </td>
            <td>
                <img src="src/assets/icons/3ds.png" width="100%">
            </td>
        </tr>
    </table>
</div>