<!-- Body of planet window popup -->
<div class="pwindow-inner">
    <span width="100%"><span style="font-size:xx-large;">Python Portfolio</span>
    <img style="float:right;" height="75px" width="75px"     src="src/assets/icons/qt.png">
    <img style="float:right;" height="75px" width="75px"     src="src/assets/icons/blender.png">
    <img style="float:right; background-color:white; border-radius:50%;" height="75px" width="75px" src="src/assets/icons/quart.png">
    <img style="float:right;" height="75px" width="75px" src="src/assets/python.png">
    </span>
    <br><hr width="50%" style="float:left;">
    <br>
    <h2>Applications:</h2>
    <table  class="ptable">
        <tr class="trr trtop">
            <td class="td1">
                Portfolio App
            </td>
            <td width="20%"><a target="_blank" href="https://github.com/moothyknight/portfolio"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/ghub.png"></a>
            </td>
            <td width="40%"  class="tdtext">
                This app takes the esbuild + python base and uses it for practical demonstration. It serves python in production
                with hypercorn, and the PWA features are demonstrated with an https server. The server-server and server-client communications
                simply trigger a radio animation to visualize the process occurring in a fun way. 
            </td>
            <td>
                <img src="src/assets/screenshots/myapp.png" width="100%">
            </td>
        </tr>
        <tr class="trr">
            <td  class="ptdtitle">Python + esbuild<br>App Base</td>
            <td width="20%"><a target="_blank" href="https://github.com/moothyknight/esbuild_base_python"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/ghub.png"></a>
            </td>
            <td width="40%"  style="text-align: left;">
                A stripped down base for creating wicked fast web applications with esbuild,
                Demonstrates dual server support for building webapps with NodeJS and data streaming
                with Quart's ASGI framework.
            </td>
            <td>
                <img src="src/assets/icons/esbuild.png" width="100%">
            </td>
        </tr>
        <tr class="trr">
            <td  class="td1">Roboanimator Suite (demo)</td>
            <td width="20%"><a target="_blank" href="https://github.com/moothyknight/robo-animator"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/ghub.png"></a>
            </td>
            <td width="40%"  style="text-align: left;">
                A PyQT5 Framework that lets you launch directly into 
                blender, animate something with a rigged model, pull the 
                animation data, and pass it to a Raspberry PI to animate 
                servos. This was a robotics demo. 
            </td>
            <td>
                <img src="src/assets/screenshots/bones.png" width="100%">
            </td>
        </tr>
        
    </table>
    <hr/>
    <br/>
    <h2>Data & Modeling</h2>
    Example:<br> 
    Modeling a Prandtl Wing using python (and some matlab) to generate datasets from equations. Graphed in Google Sheets. 
    <img src="src/assets/screenshots/prandtl.png" width="100%">
</div>