<!-- Body of planet window popup -->
<div class="pwindow-inner">
    <p>
        <span><span style="font-size:xx-large;">Javascript Portfolio</span>
        <img style="float:right;" height="50px" width="50px" src="src/assets/icons/sass.png">
        <img style="float:right;" height="50px" width="50px" src="src/assets/icons/css3.png">
        <img style="float:right;" height="50px" width="50px" src="src/assets/icons/chromium.png">
        <img style="float:right;" height="50px" width="50px" src="src/assets/icons/react.png">
        <img style="float:right;" height="50px" width="50px" src="src/assets/icons/three.png">
        <img style="float:right;" height="50px" width="50px" src="src/assets/icons/html5.png">
        <img style="float:right;" height="50px" width="50px" src="src/assets/icons/typescript.png">
        <img style="float:right; padding-right:2px; border-radius:5px;" height="50px" width="50px" src="src/assets/icons/javascript.png">
        </span>
        <br><hr width="50%" style="float:left;">
        <br><br>
        
        
        <table width="100%">
            <tr>
                <td class="pimg">
                    <img width="100vw" style="min-width:380px; height:182px;" src="src/assets/screenshots/threeshaders.png">
                </td>
                <td class="pimg">
                    <img width="100vw" style="min-width:380px; height:182px;" src="src/assets/screenshots/breathcapture.png">
                </td>
            </tr>
        </table>

        <span><span style="font-size:xx-large; font-weight:bold;">Applications        </span>(all demos)</span>
        <hr/>
        <table  class="ptable">
            <tr class="trr trtop">
                <td class="td1">
                    Brains@Play PWA
                </td>
                <td width="20%"><a target="_blank" href="https://app.brainsatplay.com/"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/bap.png"></a>
                </td>
                <td width="40%"  class="tdtext">
                    Real time sensing platform for open EEG, FNIRS, eye tracking, and more hardware co-developed with 
                    Garrett Flynn and a little help from our small but growing community. This is a long term project.
                    Features tileable applications with dynamically loaded resources, multiplayer, device connectivity,
                    data visualization, multithreading, etc.
                </td>
                <td>
                    <img src="src/assets/screenshots/brainsatplay.png" width="100%">
                </td>
            </tr>
            <tr class="trr">
                <td class="td1">
                    Portfolio App
                </td>
                <td width="20%"><a target="_blank" href="https://github.com/moothyknight/portfolio"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/ghub.png"></a>
                </td>
                <td width="40%"  class="tdtext">
                    This app takes the esbuild + python base and uses it for practical demonstration. It serves python in production
                    with hypercorn, and the PWA features are demonstrated with an https server. The server-server and server-client communications
                    simply trigger a radio animation to visualize the process occurring in a fun way. 
                </td>
                <td>
                    <img src="src/assets/screenshots/myapp.png" width="100%">
                </td>
            </tr>
            <tr class="trr">
                <td  class="ptdtitle">HEGAlpha PWA</td>
                <td width="20%"><a target="_blank" href="https://hegalomania.netlify.app"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/netlify.png"></a>
                </td>
                <td width="40%"  style="text-align: left;">
                    Simple webapp for my HEGduino project. This app is so small it can serve from an ESP32 web server!
                </td>
                <td>
                    <img src="src/assets/screenshots/sunrise.png" width="100%">
                </td>
            </tr>
            <tr class="trr">
                <td  class="ptdtitle">EEG PWA</td>
                <td width="20%"><a target="_blank" href="https://github.com/moothyknight/eegpwa"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/ghub.png"></a>
                </td>
                <td width="40%"  style="text-align: left;">
                    Pre-Brains@Play web demo built with help from Dovydas Stirpeika. Features GPUjs FFTs to analyze FreeEEG32 data in the browser in real time!.
                </td>
                <td>
                    <img src="src/assets/screenshots/EEGpFNIRS.png" width="100%">
                </td>
            </tr>
            <tr class="trr">
                <td  class="ptdtitle">esbuild App Base</td>
                <td width="20%"><a target="_blank" href="https://github.com/moothyknight/esbuild_base_webcomponents"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/ghub.png"></a>
                </td>
                <td width="40%"  style="text-align: left;">
                    esbuild is the latest build tool for web applications. It's fast and easily customizable for js, ts, react, etc. 
                    It's easy to step into a production setting and not overburden your dev tools. Includes custom hot reloading and PWA presets.
                </td>
                <td>
                    <img src="src/assets/icons/esbuild.png" width="100%">
                </td>
            </tr>
            <tr class="trr">
                <td  class="ptdtitle">esbuild + Web Components<br>App Base</td>
                <td width="20%"><a target="_blank" href="https://github.com/moothyknight/esbuild_base_webcomponents"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/ghub.png"></a>
                </td>
                <td width="40%"  style="text-align: left;">
                    esbuild app base plus my web components library! Includes custom hot reloading and PWA presets.
                </td>
                <td>
                    <img src="src/assets/icons/esbuild.png" width="100%">
                </td>
            </tr>
            <tr class="trr">
                <td  class="ptdtitle">Python + esbuild <br>App Base</td>
                <td width="20%"><a target="_blank" href="https://github.com/moothyknight/esbuild_base_python"><img class="ptdlink" height="70px" width="70px" alt="Github" src="src/assets/icons/ghub.png"></a>
                </td>
                <td width="40%"  style="text-align: left;">
                    A stripped down base for creating wicked fast web applications with esbuild,
                    Demonstrates dual server support for building webapps with NodeJS and data streaming
                    with Quart's ASGI framework.
                </td>
                <td>
                    <img src="src/assets/icons/esbuild.png" width="100%">
                </td>
            </tr>
        </table>

        
        <table width="100%">
            <tr>
                <td class="pimg">
                    <img width="100vw" style="min-width:380px; " src="src/assets/screenshots/birdmoney.png">
                </td>
                <td class="pimg">
                    <img width="100vw" style="min-width:380px;" src="src/assets/screenshots/spectrogram.jpg">
                </td>
            </tr>
        </table>


        <hr/>
        <h1>Libraries</h1>
            
        <h2>Computation/Performance</h2>
        <hr>
            <table  class="ptable">
                <tr class="trr trtop">
                    <td class="td1">
                        magicworker
                    </td>
                    <td width="20%"><a target="_blank" href="https://github.com/moothyknight/acyclicgraph.js"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                    </td>
                    <td width="40%"  class="tdtext">
                        Convenient webpacked web worker utilities, including writing arbitrary functions to threads, 
                        transferring classes, worker-based canvas and threejs rendering, piping, proxies, and more.<br>
                        A version of this is in our liveserver library as well for creating front and 
                        backend threaded server applications. Garrett Flynn did the webpacking and lots of testing.
                    </td>
                    <td>
                        <img src="https://img.shields.io/npm/v/magicworker"><br>
                        <img src="https://img.shields.io/npm/dt/magicworker"><br>
                    </td>
                </tr>
                <tr class="trr">
                    <td class="td1">
                        gpujsutils
                    </td>
                    <td width="20%"><a target="_blank" href="https://github.com/moothyknight/gpujsutils"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                    </td>
                    <td width="40%"  class="tdtext">
                        Write GPU kernels in js!<br>
                        Wrapper with a stable webpacked build of the awesome gpu.js library. It integrates some utilities with premade functions 
                        and makes it easy to write persistent, dynamic kernels or canvas kernels to the gpu without messing with gpu.js as much.
                    </td>
                    <td>
                        <img src="https://img.shields.io/npm/v/gpujsutils"><br>
                        <img src="https://img.shields.io/npm/dt/gpujsutils"><br>
                    </td>
                </tr>
            </table>
        <br>
        <h2>Scripting & Data</h2>
        <hr>
        <table  class="ptable">
            <tr class="trr trtop">
                <td class="td1">
                    acyclicgraph
                </td>
                <td width="20%"><a target="_blank" href="https://github.com/moothyknight/acyclicgraph.js"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                </td>
                <td width="40%"  class="tdtext">
                    Easy async graph node operation tree scripting utility.<br> 
                    Featured in this webapp to handle the physics tree.
                </td>
                <td>
                    <img src="https://img.shields.io/npm/v/acyclicgraph"><br>
                    <img src="https://img.shields.io/npm/dt/acyclicgraph"><br>
                    <img src="https://img.shields.io/github/size/moothyknight/acyclicgraph.js/acyclicgraph.js"><br>
                </td>
            </tr>
            <tr class="trr">
                <td class="td1">
                    anotherstatemanager
                </td>
                <td width="20%"><a target="_blank" href="https://github.com/moothyknight/statemanager"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                </td>
                <td width="40%"  class="tdtext">
                    Multi-tiered state manager including fast checking large objects/arrays for animation<br> 
                    A lot of work was put into this with Garrett Flynn to make it appropriate for large real time dataset animations.
                </td>
                <td>
                    <img src="https://img.shields.io/npm/v/anotherstatemanager"><br>
                    <img src="https://img.shields.io/npm/dt/anotherstatemanager"><br>
                    <img src="https://img.shields.io/github/size/moothyknight/StateManager/StateManager.js"><br>
                </td>
            </tr>
            <tr class="trr">
                <td class="td1">
                    anothersequencer
                </td>
                <td width="20%"><a target="_blank" href="https://github.com/moothyknight/sequencer.js"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                </td>
                <td width="40%"  class="tdtext">
                    Simple function sequencing with async and animations. 
                </td>
                <td>
                    <img src="https://img.shields.io/npm/v/anothersequencer"><br>
                    <img src="https://img.shields.io/npm/dt/anothersequencer"><br>
                    <img src="https://img.shields.io/github/size/moothyknight/sequencer.js/sequencer.js"><br>
                </td>
            </tr>
            <tr class="trr">
                <td class="td1">
                    objectlisteners
                </td>
                <td width="20%"><a target="_blank" href="https://github.com/moothyknight/objectlistener"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                </td>
                <td width="40%"  class="tdtext">
                    This is an arbitrary object listener for checking large objects and specific properties 
                    for changes in a loop e.g. for animation updates, it forms the base of my state management library. 
                </td>
                <td>
                    <img src="https://img.shields.io/npm/v/objectlisteners"><br>
                    <img src="https://img.shields.io/npm/dt/objectlisteners"><br>
                    <img src="https://img.shields.io/github/size/moothyknight/ObjectListener/ObjectListener.js"><br>
                </td>
            </tr>
            <tr class="trr">
                <td class="td1">
                    brainsatplay-data
                </td>
                <td width="20%"><a target="_blank" href="https://github.com/brainsatplay/brainsatplay-data"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                </td>
                <td width="40%"  class="tdtext">
                    Data Structures & Algorithms for Brains@Play environment. Working repo.
                </td>
                <td>
                    <img src="https://img.shields.io/npm/v/brainsatplay-data"><br>
                </td>
            </tr>
            <tr class="trr">
                <td class="td1">
                    brainsatplay-storage
                </td>
                <td width="20%"><a target="_blank" href="https://github.com/brainsatplay/brainsatplay-storage"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                </td>
                <td width="40%"  class="tdtext">
                    Storage functions for Brains@Play. Includes minimongo, browserfs, google drive, & csv utilities.
                </td>
                <td>
                    <img src="https://img.shields.io/npm/v/brainsatplay-storage"><br>
                </td>
            </tr>
        </table>

        <br>
        <h2>Visual</h2>
        <hr>
            <table  class="ptable">
                <tr class="trr trtop">
                    <td class="td1">
                        fragelement
                    </td>
                    <td width="20%"><a target="_blank" href="https://github.com/moothyknight/DOMElement"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                    </td>
                    <td width="40%"  class="tdtext">
                        Minimally abstracted HTMLElement for responsive web components and easier scripting. <br>
                        Used it to write this application it super fast with raw html/js/css!
                    </td>
                    <td>
                        <img src="https://img.shields.io/npm/v/fragelement"><br>
                        <img src="https://img.shields.io/npm/dt/fragelement"><br>
                        <img src="https://img.shields.io/github/size/moothyknight/DOMElement/DOMElement.js"><br>
                    </td>
                </tr>
                <tr class="trr">
                    <td class="td1">
                        threeshaderhelper
                    </td>
                    <td width="20%"><a target="_blank" href="https://github.com/moothyknight/threeshaderhelper"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                    </td>
                    <td width="40%"  class="tdtext">
                        Wrapper for conveniently editing THREEShaderMaterials and properties. <br>
                        Automatically generate sliders in a GUI from uniform declarations detected in the glsl shader text.
                        Made with Garrett Flynn. Used for biofeedback in Brains@Play, idea suggested by Stephanie DuPont 
                        at the Biofeedback Institue of Los Angeles.
                    </td>
                    <td>
                        <img src="https://img.shields.io/npm/v/threeshaderhelper"><br>
                        <img src="https://img.shields.io/npm/dt/threeshaderhelper"><br>
                        <img src="https://img.shields.io/github/size/moothyknight/threeshaderhelper/THREEShaderHelper.js"><br>
                    </td>
                </tr>
                <tr class="trr">
                    <td class="td1">
                        dynamicparticles
                    </td>
                    <td width="20%"><a target="_blank" href="https://github.com/moothyknight/DynamicParticles.js"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                    </td>
                    <td width="40%"  class="tdtext">
                        Simple particle rendering class. I even made a multithreaded example for it with magicworker.<br> 
                        Includes a fairly optimized boids algorithm (you can see orbiting planet javascript) using limited a random proximity search where the behaviors remain 
                        consistent even checking only one random neighbor per frame in large groups. I intend to expand on this over time.
                    </td>
                    <td>
                        <img src="https://img.shields.io/npm/v/dynamicparticles"><br>
                        <img src="https://img.shields.io/npm/dt/dynamicparticles"><br>
                        <img src="https://img.shields.io/github/size/moothyknight/DynamicParticles.js/DynamicParticles.js"><br>
                    </td>
                </tr>
                <tr class="trr">
                    <td class="td1">
                        webglplotutils
                    </td>
                    <td width="20%"><a target="_blank" href="https://github.com/moothyknight/webgl-plot-utils"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                    </td>
                    <td width="40%"  class="tdtext">
                        A simple stacking/resizing utility for time series data with webgl-plot's line plot utilities.<br>
                        It performs interpolation automatically if you supply variable sized data sets, thought at the expense of performance.<br>
                        Consistent data sets can be rendered at millions of lines per frame at 60fps, though with minimal styling. ThreeJS or something is better for styling. Smoothiejs or uPlot are great minimal/performant plotting libraries, too, with different tradeoffs.
                    </td>
                    <td>
                        <img src="https://img.shields.io/npm/v/webgl-plot-utils"><br>
                        <img src="https://img.shields.io/npm/dt/webgl-plot-utils"><br>
                        <img src="https://img.shields.io/github/size/moothyknight/webgl-plot-utils/webgl-plot-utils.js"><br>
                    </td>
                </tr>
                <tr class="trr">
                    <td class="td1">
                        brainsatplay-math
                    </td>
                    <td width="20%"><a target="_blank" href="https://github.com/brainsatplay/brainsatplay-math"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                    </td>
                    <td width="40%"  class="tdtext">
                        A bunch of math for linear algebra, 2d and 3d transforms, covariance, cross-correlation, calculus, etc. Some e.g. the power iteration is borrowed from other FOSS libs and rewritten for clarity or generalization (with sources).
                    </td>
                    <td>
                        <img src="https://img.shields.io/npm/v/brainsatplay-math"><br>
                        <img src="https://img.shields.io/npm/dt/brainsatplay-math"><br>
                    </td>
                </tr>
            </table>

        <br>
        <h2>Server</h2>
        <hr>
            <table  class="ptable">
                <tr class="trr trtop">
                    <td class="td1">
                        liveserver-router<br>
                        liveserver-frontend<br>
                        liverserver-backend
                    </td>
                    <td width="20%"><a target="_blank" href="https://github.com/brainsatplay/liveserver"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                    </td>
                    <td width="40%"  class="tdtext">
                        Typescript library made with Garrett Flynn that handles a ton of abstraction for real time servers, 
                        including user databases and streaming with peer2peer (incl. webrtc) or dedicated servers, dynamic routing,
                        web workers (which can run their own servers), mongodb hooks, and more.
                    </td>
                    <td>
                        <img src="https://img.shields.io/npm/v/liveserver-router"><br>
                        <img src="https://img.shields.io/npm/dt/liveserver-router"><br>
                    </td>
                </tr>
            </table>

            <br>
            <h2>Drivers</h2>
            <hr>
            <table  class="ptable">
                <tr class="trr trtop">
                    <td class="td1">
                        biquadjs
                    </td>
                    <td width="20%"><a target="_blank" href="https://github.com/moothyknight/BiquadFilters.js"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                    </td>
                    <td width="40%"  class="tdtext">
                        Feed-forward digital biquad filters for real time signal processing. Very common and useful filtering scheme.<br>
                        Translated from an arachnoid.com python tutorial while unsuccessfully trying to build a phase-locked loop.
                    </td>
                    <td>
                        <img src="https://img.shields.io/npm/v/biquadjs"><br>
                        <img src="https://img.shields.io/npm/dt/biquadjs"><br>
                        <img src="https://img.shields.io/github/size/moothyknight/BiquadFilters.js/BiquadFilters.js"><br>
                    </td>
                </tr>
                <tr class="trr">
                    <td class="td1">
                        hegduinojs
                    </td>
                    <td width="20%"><a target="_blank" href="https://github.com/moothyknight/hegduino.js"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                    </td>
                    <td width="40%"  class="tdtext">
                        USB Serial, Bluetooth LE, and WiFi Event Source drivers for the HEGduino ESP32-based device.
                    </td>
                    <td>
                        <img src="https://img.shields.io/npm/v/hegduinojs"><br>
                        <img src="https://img.shields.io/npm/dt/hegduinojs"><br>
                        <img src="https://img.shields.io/github/size/moothyknight/hegduino.js/hegduino.js"><br>
                    </td>
                </tr>
                <tr class="trr">
                    <td class="td1">
                        cytonjs
                    </td>
                    <td width="20%"><a target="_blank" href="https://github.com/moothyknight/cyton.js"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                    </td>
                    <td width="40%"  class="tdtext">
                        USB Serial drivers or the OpenBCI Cyton. Includes rollover buffers for the latest data.
                    </td>
                    <td>
                        <img src="https://img.shields.io/npm/v/cytonjs"><br>
                        <img src="https://img.shields.io/npm/dt/cytonjs"><br>
                        <img src="https://img.shields.io/github/size/moothyknight/cyton.js/cyton.js"><br>
                    </td>
                </tr>
                <tr class="trr">
                    <td class="td1">
                        freeeeg32js
                    </td>
                    <td width="20%"><a target="_blank" href="https://github.com/moothyknight/freeeeg32.js"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                    </td>
                    <td width="40%"  class="tdtext">
                        USB Serial drivers for the FreeEEG32. Includes rollover buffers for the latest data.
                    </td>
                    <td>
                        <img src="https://img.shields.io/npm/v/freeeeg32js"><br>
                        <img src="https://img.shields.io/npm/dt/freeeeg32js"><br>
                        <img src="https://img.shields.io/github/size/moothyknight/freeeeg32.js/freeeeg32.js"><br>
                    </td>
                </tr>
                <tr class="trr">
                    <td class="td1">
                        BreathCapture
                    </td>
                    <td width="20%"><a target="_blank" href="https://github.com/moothyknight/BreathCapture.js"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                    </td>
                    <td width="40%"  class="tdtext">
                        Audio capture with basic smoothed peak-finding based breath detection and phase locking. 
                        It works like half of the time but it works nonetheless. Made for the 2020 XR Brain Jam by Games For Change with a VR demo.
                    </td>
                    <td>
                        <img src="https://img.shields.io/npm/v/breathcapture"><br>
                        <img src="https://img.shields.io/npm/dt/breathcapture"><br>
                        <img src="https://img.shields.io/github/size/moothyknight/BreathCapture.js/BreathCapture.js"><br>
                    </td>
                </tr>
                <tr class="trr">
                    <td class="td1">
                        Chrome Serial Utils
                    </td>
                    <td width="20%"><a target="_blank" href="https://github.com/moothyknight/chrome-serialutils.js"><img class="ptdlink" height="70px" width="70px" alt="PWA" src="src/assets/icons/ghub.png"></a>
                    </td>
                    <td width="40%"  class="tdtext">
                        Simple Serial USB utilities for chrome extensions (which had their own serial port library pre-chromium integration).
                    </td>
                    <td>
                        <img src="https://img.shields.io/github/size/moothyknight/chrome-serial-utils/serialUtils.js"><br>
                    </td>
                </tr>
            </table>
        <br>

        <table width="100%">
            <tr>
                <td class="pimg">
                    <img width="100vw" style="min-width:380px; " src="src/assets/millers_maxi_buns/stack.png">
                </td>
                <td class="pimg">
                    <img width="100vw" style="min-width:380px;" src="src/assets/millers_maxi_buns/bapstack.png">
                </td>
            </tr>
        </table>
        
        <h1>More Info</h1>
        <hr/>
            Javascript is currently my primary software engineering language.
            It holds some of the most promise as it continues to 
            gain more updates every year as the base of all web software, and as more people see the 
            value in open, unified, interoperable frameworks. My hope is that 
            as more mature web frameworks like WebGPU come along, we'll see more 
            browser engines that are lighter weight and easier
            for coding frontends. This brings the cost of development down significantly
            so a larger shared creative engineering space can continue to open up and 
            reach larger audiences. 
            <br/><br/>
            My favorite thing about javascript has to be that it helped me grasp
            systems engineering so much better than I could with C/C++ or Python, etc.  
            That's because it's more playful and designed for boneheads like me to combine
            fairly complex features like Bluetooth, audio, graphics, etc. into a frontend with good 
            cross-platform performance. It's getting easier to build flexible, high performance applications 
            with minimal code, something I had given up on trying to do for several years until 
            these past few. Now I can say I enjoy doing this, if this site is any evidence.
    </p>
</div>