<!-- Body of planet window popup -->
<div class="pwindow-inner">
    <span><span style="font-size:xx-large;">Startup Portfolio</span>
    </span>
    <br><hr width="50%" style="float:left;">
    <br><br>
    
    <span><span style="font-size:xx-large; font-weight:bold;">Current Startups        </span></span>
    <hr/>
    <table  class="ptable">
        <tr class="trr trtop">
            <td class="td1">
                Brains@Play
            </td>
            <td width="20%"><a target="_blank" href="https://brainsatplay.com/"><img style="border-radius:50%;" height="100px" width="100px" alt="PWA" src="src/assets/maskedent.png"></a>
            </td>
            <td width="40%"  class="tdtext">
                <br>
                In partnership with Garrett Flynn, Jacob Tinkhauser, and a small community, Brains@Play is seeking to be 
                the base for open source real time physiological sensing on the web. 
                <br><br>
                From the ground up we are building accessible, open source AGPLv3, high performance web and IoT tools. 
                This includes custom hardware and a community web software platform. We are taking advantage of all of the latest 
                tools made for the open web and using them for modernized physiological sensing interfaces for research and education, 
                as well as home neurofeedback. We are nearing our Alpha stage software with a solid hardware prototype that we will bring to market.
                <br><br>
            </td>
            <td>
                <img src="src/assets/bap.png" width="100%">
            </td>
        </tr>
        <tr class="trr">
            <td class="td1">
                MyAlyce
            </td>
            <td width="20%"><a target="_blank" href="https://myalyce.com/"><img style="border-radius:50%;" height="90px" width="90px" alt="Github" src="src/assets/icons/alyce.png"></a>
            </td>
            <td width="40%"  class="tdtext">
                <br>
                Combining custom real time sensing wearables, consumer wearables, and web-based communications software,
                MyAlyce seeks to provide data to the mental health and drug recovery process for individuals and help them
                build powerful, private or selectively sharable medical profiles that can inform them and their support networks
                on their health. We are building open source psychometric and vital sign profiling tools for individuals in 
                recovery or coping with chronic conditions.
                <br/><br/>
                Our proof of concept MVP will attempt to alert support teams in the case of an opiate overdose, 
                which can occur even within rehab centers or right next to support or loved ones without them being
                aware, when the person could likely be saved. We have been through the Whatif VC accelerator in LA and were just 
                accepted into another accelerator competition at USC. <br><br>
                We are partnered with the Evergreen Fund and Red Door Life 501(c)(3) organizations to test our MVPs with real clients in rehab.
                <br><br>
            </td>
            <td>
                <img src="src/assets/screenshots/myalycelogo.png" width="100%">
            </td>
        </tr>
    </table>
    <br>
    <table width="100%">
        <tr>
            <td class="pimg">
                <img 
                    width="100vw" 
                    style="min-width:380px;" 
                    src="src/assets/millers_maxi_buns/bapstack.png"
                >
            </td>
            <td class="pimg">
                <img 
                    width="100vw" 
                    style="min-width:380px;" 
                    src="src/assets/millers_maxi_buns/myalyce.png"
                >
            </td>
        </tr>
    </table>

    <h1>More Info</h1>
    <hr/>
    I have written a few whitepapers.
    <br>
    <a target="_blank" href="https://github.com/moothyknight/HEG_ESP32_Delobotomizer/blob/main/Guides/Open%20Source%20HEG_FNIRS%20Whitepaper.pdf">Open Source, Low Cost, Scalable fNIRS/HEG Whitepaper</a>
    <br><a target="_blank" href="https://github.com/moothyknight/HEG_ESP32/blob/master/Guides/HEG%20Whitepaper%20(heavily%20outdated).pdf">Older HEG v1 Whitepaper</a>
    <br><a target="_blank" href="https://docs.google.com/document/d/1RAk8pQR_hl_Mfs5gM2Efzo4oGJoBeFrI4V7QB_AwVaI/edit?usp=sharing">Human Systems Organization Whitepaper (unfinished, needs contributors)</a>
    <br><br>
    Also check out my blog:<br>
    <a target="_blank" href="https://hegalpha.com/blog">HEG Alpha Blog</a>
    <br><br>
</div>