<div class="pwindow-inner">
    <span style="font-size:xxlarge;">Hello I'm Joshua Brewster, this is my portfolio!</span>
    <hr>
    <table width="100%">
        <tr>
            <td width="70%">
                <p style="font-size:16px; font-weight: bold;">
                    Click twice on the major planets to see more of my work!
                    <br>
                </p>
                <p>
                    Get in touch if you need help with a Web, IoT, and/or Biosensing project! Otherwise I am evangelizing with open source, working on startups, and planning my return to school!
                    <hr>
                    Contact: <span style="font-weight:bold;">brewster.joshua1@gmail.com</span><br>
                    Resumé: <a target="_blank" href="https://docs.google.com/document/d/1Xyqome4IQYsw4o7V152CkCTPPZr6AxuyCe1TA7AFayU/edit?usp=sharing">Google Drive Link</a>
                </p>
                <div style="background-color:white; padding-top:5px; padding-left: 5px; border-radius: 5px;">
                    <a target="_blank" href="https://www.linkedin.com/in/joshua-brewster93/"><img height="40px" width="40px" alt="LinkedIn" src="src/assets/icons/linkedin.png"></a>
                    <a target="_blank" href="https://discord.gg/xhnV5Svrta"><img height="40px" width="40px" alt="Brains@Play Discord" src="src/assets/icons/discord.png"></a>
                    <a target="_blank" href="https://brainsatplay.com"><img height="40px" width="40px" alt="Brains@Play" src="src/assets/bap.png"></a>
                    <a target="_blank" href="https://github.com/moothyknight"><img height="40px" width="40px" style="border-radius:15px; background-color:ghostwhite;" alt="Github" src="src/assets/icons/ghub.png"></a>
                    <a target="_blank" href="https://www.npmjs.com/~moothyknight"><img height="35" width="60px" alt="NPM" src="src/assets/icons/npm.png"></a>
                </div>
            </td>
            <td width="30%" class="pimg">
                <img width="100vw" src="src/assets/images/me.jpg" style="border-radius:400px; min-width:200px; min-height:200px; transform: translateY(2.5%);"></img>
            </td>
            
        </tr>
    </table>
    <hr>
    <p style="font-size:14px;">
        The webapp you're using to read this was programmed from scratch in 1 week with a mix of pure Javascript, HTML5, and CSS. Minus images, this app comes in at about 500kb with about 24MB of build tools!<br><br>
        The app simulates particles, boids, newtonian mechanics in 3D for planetary motion, and basic spherical collisions on an acyclic graph, then is made interactive and quickly programmable with web components. 
        It also demonstrates server-client and server-server communications with an asynchronous, multithreaded python server (via Quart) and a hot-reloading Node backend. 
        Either server can serve the final build compiled by esbuild, and it can run as a PWA if hosted. You can reload one server without interrupting the other, too, e.g. for development.
    </p>
    <hr>
    <table width="100%">
        <tr>
            <td class="pimg" colspan="2">
                <img width="100vw" style="min-width:400px;" src="src/assets/maskedent.png">
            </td>
        </tr>   
        <tr>
            <td class="pimg">
                <img width="100vw" style="min-width:380px; " src="src/assets/images/ice.jpg">
            </td>
            <td class="pimg">
                <img width="100vw" style="min-width:380px;" src="src/assets/images/crystal1.jpg">
            </td>
        </tr>
        <tr>
            <td class="pimg" colspan="2">
                <img width="100vw" style="min-width:780px;" src="src/assets/images/hericium2.jpg">
            </td>
        </tr>
        <tr>
            <td class="pimg">
                <img width="100vw" style="min-width:380px;" src="src/assets/images/crystal2.jpg">
            </td>
            <td class="pimg">
                <img width="100vw" style="min-width:380px;" src="src/assets/images/icecave.jpg">
            </td>
        </tr>   
        <tr>
            <td class="pimg" colspan="2">
                <img width="100vw" style="min-width:780px;" src="src/assets/images/hericium.jpg">
            </td>
        </tr>  
        <tr>
            <td class="pimg">
                <img width="100vw" style="min-width:380px;" src="src/assets/images/ice2.jpg">
            </td>
            <td class="pimg">
                <img width="100vw" style="min-width:380px;" src="src/assets/images/tree.jpg">
            </td>
        </tr>   
        <tr>
            <td class="pimg" colspan="2">
                <img width="100vw" style="min-width:780px;" src="src/assets/images/hericium3.jpg">
            </td>
        </tr>
        <tr>
            <td class="pimg" colspan="2">
                <img width="100vw" style="min-width:780px;" src="src/assets/images/dragonfly.jpg">
            </td>
        </tr>
    </table>
</div>